
<%-include('../partials/nevTwo') %> 

<!-- Bread  rumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Shopping Cart</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Shopping Cart</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
               <th>#no</th>
                <th class="shoping__product">Products</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <% if(locals.viewcart?.products?.length>0){ %>
              <% viewcart.products.forEach((showcart,index)=>{ %>
              <div id="cartItem-<%= showcart.productId.id %>">

              <tbody>
               
                <tr>
                  <td><%= index + 1 %></td>
                  <td class="shoping__cart__showcart">
                    <img src="/NewFolder/image-/<%= showcart.productId.images[0] %>" alt="" width="120" height="150">      
                  </td>
                  <td>
                    <h4><%= showcart.name %> </td></h4>
                  <%if(showcart.offerPrice){%>
                  <td class="shoping__cart__price">
                    <del class="text-muted">₹<%= showcart.price %></del>
                    ₹<%= showcart.offerPrice %>
                  </td>
                  <% }else{ %>
                  <td class="shoping__cart__price">
                    ₹<%= showcart.price %>
                  </td>
                  <% } %>
                  <td class="shoping__cart__quantity">
                    <div class="quantity">
                      <div class="pro-qty">
                        <span class="dec qtybtn"  onclick="addToCart('<%=showcart.productId.id%>','<%=showcart.name%>','<%=showcart.price %>',-1,'<%=showcart?.offerPrice%>')" >-</span>
                        <input id="itemQty-<%= showcart.productId.id %>" type="text" value="<%= showcart.quantity %>">
                        <span class="inc qtybtn"  onclick="addToCart('<%=showcart.productId.id%>','<%=showcart.name%>','<%=showcart.price %>',1,'<%=showcart?.offerPrice%>')" >+</span>
                      </div>
                    </div>
                  </td>
                  <td class="shoping__cart__total">
                    <% if(showcart.offerPrice) {%>
                    ₹<%= (showcart.offerPrice * showcart.quantity).toFixed(2) %>
                    <% }else {%>
                    ₹<%= (showcart.price * showcart.quantity).toFixed(2) %>
                    <% } %>
                  </td>
                
                  <td class="shoping__cart__showcart__close">
                    <button  class="border-0"><span id="boot-icon" onclick="deleteItem('<%=showcart.productId.id%>','<%=showcart.quantity%>')" class="" style="font-size: 1.5rem; color: rgb(104, 104, 117);">remove</span></button>
                  </td>
                </tr>
                <%  }) %>
              </tbody>
              </div>


          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
          <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
            Upadate Cart</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>Discount Codes</h5>
            <form action="#">
              <input type="text" placeholder="Enter your coupon code">
              <button type="submit" class="site-btn">APPLY COUPON</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5>Cart Total</h5>
          <ul>
            <li>Subtotal <span><del>₹<%= viewcart.subTotal.toFixed(2) %></del></span></li>
            <% let discount = viewcart.subTotal - viewcart.total %>
            <li>Discount <span>₹<%=discount.toFixed(2)%></span></li>
            <li>Total <span>₹<%= viewcart.total.toFixed(2) %></span></li>
          </ul>
          <a href="/checkout" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 ">PROCEED TO CHECKOUT</a>
        </div>
      </div>

      
    </div>
  </div>

</section>

<%} else {%>
  <section class="container">
    <div class="text-center py-5">
      <img src="" alt="">
      <div>
        <p class="h4">There is nothing in your bag. Let's add some showcarts.</p>
      </div>
      <a href="/" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Shop</a>
    </div>
  </section>

  <%}%>
</div>

<!-- Shoping Cart Section End -->

<!-- Js Plugins -->



</body>
</html>

<script>


  var proQty = $('.pro-qty');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
        }
        $button.parent().find('input').val(newVal);
    });
    
</script>
