<%-include('../partials/nevTwo') %> 

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Shopping Cart</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Shopping Cart</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->



<% if(findwish?.myWish?.length>0){%>

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
              <tr>
          <th>No</th>
                <th class="shoping__cart__showcart">Product</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <%findwish.myWish.forEach((showwish,index)=>{%> 
           
            <tbody>
              
              <tr>
              <td><%= index + 1 %> </td>
                <td class="shoping__cart__showcart">
                  <img src="/NewFolder/image-/<%= showwish.productId.images[0] %>" alt="" width="60" height="90">
                </td>
                <td>
                 <%=showwish.productId.productName%>
                </td>
                <td class="shoping__cart__price">
                  <%= showwish.productId.price %>            
                </td>
                <td>
                    <form action="/delete-wishlist/<%= showwish.productId.id%> " method="post">
                    <button style="padding: 0;
                    border: none;
                    background: none;" type="submit">
                        remove
                    </button> 
                     </form>
                     <button type="button" class="btn btn-primary px-3 ml-2" onclick="addToCart('<%=showwish.productId.id%>','<%=showwish.productId.productName%>','<%=showwish.productId.price%>',1,'<%=showwish.productId?.offerPrice%>');removeFromWishlist('<%=showwish.productId.id%>','<%=showwish.productId.productName%>')"><i class="fa fa-shopping-cart mr-1"></i>Add to cart</button>
                   
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
          <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
            Upadate Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%}else{%>
<section class="container">
  <div class="text-center py-5">
    <img src="" alt="">
    <div>
      <p class="h4">There is nothing in your bag. Let's add some wishlists.</p>
    </div>
    <a href="/" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Shop</a>
  </div>
  <script src="/js/cart.js"></script>
 
</section>
<%}%>
 <script>
function moveToCart(name,id,price){

  addToCart(id,name,price,1)
  removeFromWishlist(name, id)

}

async function removeFromWishlist(name,id){
    
    try{
        console.log("remove wishlist in Running")
        const response= await axios({
            method:"post",
            url:`/delete-wishlist/${id}`,
        
        })
    }catch(err){
        console.log(err);
    }
}
 </script>
<!-- Shoping Cart Section End -->

<!-- Js Plugins -->
